.banner-style {
    font-family: 'Trebuchet MS';
    width: 600px;
    display: block;
    background-color: #f5f4f4;
    cursor: pointer;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    border: 2px dashed #cdc8c8;
   }
   .banner-style:hover {
    background-color: rgb(230, 213, 213);
   }
   #banner {
    display: none;
   }
.poster-style {
    font-family: 'Trebuchet MS';
    width: 100px;
    display: block;
    background-color: #f5f4f4;
    cursor: pointer;
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    border: 2px dashed #cdc8c8;
}
.poster-style:hover {
    background-color: rgb(228, 213, 213);
   }
#poster {
    display: none;
   }

.name {
    width: 200px;
    border-radius: 10px;
    outline: 2px solid black;
    border: 0;
    margin-left: 5px;
    background-color: #e2e2e2;
    outline-offset: 3px;
    padding: 10px;
    transition: 0.25s;
}
  
.name:focus {
    outline-offset: 5px;
    background-color: #fff
  }

.desc{
    height: 70px;
    width: 200px;
    border-radius: 10px;
    outline: 2px solid black;
    border: 0;
    margin-left: 5px;
    background-color: #e2e2e2;
    outline-offset: 3px;
    padding: 10px;
    transition: 0.25s;
}
.desc:focus {
    outline-offset: 5px;
    background-color: #fff
  }
input[type="radio"]{
    display: none;
}

.rating {
    height: 1em;
    position: relative;
    color: black;
    font-family: 'Trebuchet MS';
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 0.8em;
    border: 2px dashed #cdc8c8;
    padding: 1em 2em;
    border-radius: 0.5em;
  }
  .rating:before {
    content: "";
    height: 1em;
    width: 1em;
    border: 2px solid black;
    border-radius: 50%;
  }
  input[type="radio"]:checked + .rating:before {
    height: 1em;
    width: 1em;
    background-color: #4189e0;
    border:  0.25em solid white;
  }
  input[type="radio"]:checked + .rating {
    background-color: #4189e0;
    color: #ffffff;
  }
  .button {
    margin-top: 20px;
    background-color: #fff;
    border: 1 solid black;
    border-radius: 1.5rem;
    box-sizing: border-box;
    color: #0d172a;
    cursor: pointer;
    display: inline-block;
    font-family: "Basier circle",-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1;
    padding: 1rem 1.6rem;
    text-align: center;
    text-decoration: none #0d172a solid;
    text-decoration-thickness: auto;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button:hover {
    background-color: #1e293b;
    color: #fff;
  }
.form {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-left: 250px;
  }
input[type="checkbox"]{
    opacity: 0;
}
input[type="checkbox"]+label{
    position: relative;
    cursor: pointer;
    padding-left: 25px;
    display: inline-block;
}
input[type="checkbox"]+label::before{
    content: "";
    position: absolute;
    left:0;
    top:0;
    width: 18px;
    height: 18px;
    outline: 2px solid #aaa;
    background:white;
}
input[type="checkbox"]:checked+label::before{
    content: "";
    position: absolute;
    left:0;
    top:0;
    width: 18px;
    height: 18px;   
    outline:2px solid limegreen;
    background:white;
}
input[type="checkbox"]:checked+label::after{
    content: "";
    position: absolute;
    left:0;
    top:0;
    width: 18px;
    height: 18px;
    background-image: url(../resources/check.png);
    background-size: contain;
    transition: all .5s ease;
    opacity: 1;
    transform: scale(1);
}
input[type="checkbox"]:not(:checked)+label::after{
    content: "";
    position: absolute;
    left:0;
    top:0;
    width: 18px;
    height: 18px;
    background-image: url(../resources/check.png);
    background-size: contain;
    opacity: 0;
    transform: scale(0);
}