body {
    background-image: linear-gradient(white,rgb(205, 196, 196),white);
}

.sidebar {
    height: 100%;
    width: 250px; 
    background-color: rgb(56, 56, 56); 
    position: fixed;
    top: 0;
    left: 0;
    font-family: 'Trebuchet MS';
}

.block {
    padding: 10px 16px;
    text-decoration: none;
    font-size: 16px;
    color: white; 
    display: block;
    transition: 0.3s; 
    font-family: 'Trebuchet MS';
}

.block:hover {
    color: black;
    background-color:grey; 
    font-family: 'Trebuchet MS';
}

h3 {
    color: white;
    padding: 0 16px;
    margin-bottom: 20px;
}
.select {
    width: 300px; 
    padding: 10px;
    border: 2px,solid,#ccc;
    margin-left: 10px;
    border-radius: 10px; 
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 12px;
    outline: none; 
}

.select:focus {
    border-color: #007bff; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

option {
    padding: 10px;
}
.headers {
    margin-left: 280px; 
    font-family: Arial, sans-serif;
    
}

